@font-face {
  font-family: "PT Serif";
  src: url(../sources/fonts/PTSerif-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "PT Serif";
  src: url(../sources/fonts/PTSerif-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  font-family: "PT Serif";
}

body {
  overflow-x: hidden;
}

img {
  pointer-events: none;
  user-select: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

section {
  margin-left: 7.06%;
  margin-right: 7.06%;
}

input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.4);

  background-color: transparent;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #000000;

  margin-bottom: 45px;
}

form {
  padding-left: 55px;
}

.title {
  padding: 20px 0;
  border-bottom: 1px solid #13436f;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

.hat-main-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #13436f;
  margin-left: 10.06%;
  margin-right: 10.06%;
}

.hamburger-menu {
  display: none;
}

.phone-email {
  display: flex;
  flex-direction: column;
}

.ref {
  color: #242424;
  font-size: 20px;
  text-decoration: none;
}

.title-name {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #242424;
  white-space: nowrap;
}

.profession_title {
  display: none;
}

.button-services {
  width: 246px;
  height: 49px;

  background: #ffffff;
  border: 2px solid #014889;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.button-services-mobile {
  display: none;
}

.menu {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10.06%;
  margin-right: 10.06%;
}

.menu-list {
  display: flex;
  justify-content: start;
  text-align: center;
  padding-right: 15px;
}

.menu-link:nth-last-child(n + 2) {
  margin-right: 30px;
}

.menu-link-messanger {
  margin-right: 10px;
}

.ref-li {
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  padding-bottom: 3px;
}

.ref-li:hover {
  border-bottom: 2px solid #1a68c4;
}

.hat-description {
  display: flex;
  padding-top: 46px;
  margin-bottom: 69px;
  margin-left: 10.06%;
  margin-right: 10.06%;
  position: relative;
}

.title-description {
  border-bottom: none;
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: start;
  padding: 0;
}

.title-name-description {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.02em;
  white-space: normal;
  min-width: 23.29%;
  padding-bottom: 49px;
}

.quote {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #014889;
  display: block;
  padding-bottom: 58px;
  max-width: 449px;
}

.services-list {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.06em;
  white-space: nowrap;
  margin-bottom: 49px;
}

.service:nth-last-child(n + 2) {
  padding-bottom: 8px;
}

.service img {
  padding-right: 20px;
}

.image-container {
  margin: auto;
}

.big-img {
  max-width: 100%;
}

.button-enroll {
  width: auto;
  padding: 20px;
  height: 66px;

  background: #014889;
  border: 1px solid #014889;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.page {
}

.menu-page {
  margin-bottom: 58px;
  padding-bottom: 17px;
  border-bottom: 1px solid #13436f;
}

.phone-button {
  display: flex;
  align-items: center;
}

.menu-phone {
  padding-right: 40px;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;

  white-space: nowrap;
}

.guarantees {
}

.guarantees-head {
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 88px;
  color: #13436f;
  background-image: url(/svg/Group-35.svg);
  background-repeat: no-repeat;

  padding-bottom: 85px;
}

.guarantees-content {
  display: flex;
  justify-content: space-between;
}

.guarantee {
  display: flex;
  padding-bottom: 70px;
  align-items: flex-start;
}

.img-number {
  padding-right: 56px;
}

.description-head {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #014889;

  padding-bottom: 20px;
}

.description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  max-width: 304px;
  color: #000000;
}

.quote-container {
  margin-left: 0;
  margin-right: 0;
  background-image: url(/images/Rectangle\ 196.png);

  height: 440px;

  display: flex;
  align-items: center;

  position: relative;
  margin-bottom: 83px;
}

.quote-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.quote-text {
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.07em;

  color: #ffffff;

  position: relative;
  z-index: 3;
  padding-left: 10.06%;
  padding-right: 10.06%;
}

.quote-text::before {
  content: "“";
  position: relative;
  z-index: 3;
  font-size: 40px;
}

.quote-text::after {
  content: "„";
  position: relative;
  z-index: 3;
  font-size: 40px;
}

.about-me {
  margin-bottom: 24px;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  background: rgba(36, 36, 36, 0.6);
  box-shadow: 0px 10px 15px rgba(58, 37, 5, 0.5);
  margin-bottom: 142px;
}

.about-me-image-container {
  position: relative;
  top: 40px;
  left: 45px;
}

.about-me-content {
  padding-right: 35px;
  padding-left: 35px;
}

.about-me-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 88px;
  color: #ffffff;

  text-align: center;
  padding-bottom: 40px;
}

.year-description {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.year {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;

  color: #ffffff;

  padding-right: 20px;

  display: flex;
  align-items: center;

  white-space: nowrap;
}

.year::before {
  content: "";
  display: flex;
  width: 27px;
  height: 0px;
  border: 2px solid #ffffff;
  margin-right: 15px;
}

.description-bold::before {
  content: "– по настоящее время";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  white-space: nowrap;
}

.description-for-me {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  max-width: 620px;
}

.quote-about-me {
  border-top: 1px solid #13436f;
  border-bottom: 1px solid #13436f;
}

.quote-about-me p {
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: justify;
  text-align-last: center;
  letter-spacing: 0.07em;

  padding-top: 55px;
}

.quote-about-me h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.07em;

  display: flex;
  justify-content: end;
  padding-bottom: 52px;
}

.range-of-services {
  padding-bottom: 73px;
  border-bottom: 1px solid #13436f;
  margin-bottom: 27px;
}

.range-of-services-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;

  text-align: center;
  letter-spacing: 0.01em;
  color: #13436f;

  background-image: url(/svg/head-icon.svg);
  background-repeat: no-repeat;
  background-position: top 0px left 70px;
  padding-top: 25px;

  max-width: 685px;
  margin: auto;
  margin-bottom: 70px;
}

.turn {
  display: flex;
  justify-content: space-between;
}

.turn:nth-last-child(n + 2) {
  margin-bottom: 100px;
}

.turn-content {
  display: flex;
  flex-direction: column;
  max-width: 560px;
}

.turn:nth-child(odd) .turn-content {
  order: 2;
}

.turn-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.05em;
  padding-left: 25px;

  color: #014889;

  position: relative;

  height: 128px;
  max-width: 475px;

  padding-bottom: 5px;
  margin-bottom: 30px;

  display: flex;
  align-items: end;
}

.img-number-turn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.turn-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-indent: 25px;

  max-width: 530px;
  display: block;
}

.turn-content ul {
  list-style: normal;
  list-style-type: disc;
  text-indent: 0;
  padding-left: 25px;
}

.image-container-turn {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 0 30px 0 0;
  filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.25));
}

.img-turn-last {
  margin-bottom: 82px;
}

.quote-turn {
  max-width: 663px;
}

.quote-turn p {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;

  text-align: center;
  letter-spacing: 0.05em;
}

.quote-turn h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  text-align: end;
  letter-spacing: 0.05em;

  padding-top: 10px;
}

.reviews {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 54px;
}

.reviews-caption {
  line-height: 88px;
  background-image: url(/svg/pen.svg);
  background-position: top 10px left 0px;

  max-width: 265px;
  padding-top: 0;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.reviews-button-left {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #1a68c4;
  background-color: #ffffff;
  background-image: url(/svg/left-arrow-blue.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 30px;
}

.reviews-button-right {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #1a68c4;
  background-color: #1a68c4;
  background-image: url(/svg/right-arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-left: 30px;
}

.reviews-grid-container {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "reviews-left reviews-right";
}

.review {
  background-image: url(/svg/pen-white.svg);
  background-repeat: no-repeat;
  background-position: bottom 30px right 33px;
  display: flex;
  max-width: 695px;
  padding: 50px;

  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
}

.reviews-left {
  grid-area: reviews-left;
  background-color: #605f5f;
}

.reviews-right {
  grid-area: reviews-right;
  background-color: #d9d9d9;
  background-image: url(/svg/pen-gray.svg);
}

.reviews-img-container {
  padding-right: 50px;
}

.reviews-name-left {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #ffffff;

  padding-bottom: 25px;
}

.reviews-name-head-img {
  display: none;
}

.reviews-name-right {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #242424;

  padding-bottom: 25px;
}

.reviews-name-right-head {
  display: none;
}

.reviews-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.05em;
}

.reviews-text-left {
  color: #ffffff;
}

.reviews-text-right {
  color: #000000;
}

.button-reviews {
  margin: auto;
  width: 300px;
  height: 54px;
}

.quote-container-reviews {
  border-top: 1px solid #13436f;
  border-bottom: 1px solid #13436f;
  margin-bottom: 45px;
  background-image: url(/images/Rectangle\ 199.png);
  background-repeat: no-repeat;
  background-position: bottom 10px right -55px;
}

.quote-reviews-text-container {
  max-width: 900px;
  padding-bottom: 70px;
}

.quote-reviews-text {
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;

  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;

  text-align: center;

  padding-top: 70px;
}

.author-reviews {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #000000;

  text-align: end;
  padding-top: 10px;
}

.my-works {
  background-image: url(/images/Rectangle166.png);
  background-size: cover;
  background-position: center center;
  position: relative;

  margin: 0;

  position: relative;

  margin-bottom: 80px;
}

.my-works-caption {
  background-image: none;
}

.quote-my-works {
  max-width: 500px;

  position: absolute;
  top: 108px;
  right: 5.47%;
}

.quote-my-works-text {
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;

  text-align: center;
  letter-spacing: 0.07em;

  color: #242424;

  max-width: 482px;
}

.author-my-works {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 46px;

  text-align: center;
  letter-spacing: 0.07em;

  color: #242424;

  text-align: end;
}

.comparison {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #242424;

  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid #1a68c4;

  width: 100px;
  margin: auto;
  margin-bottom: 45px;
}

.my-works-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button-container-mobile {
  display: none;
}

.my-works-button-left {
  margin: 0;
  background-image: url(/svg/left-arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1a68c4;

  margin-right: 30px;
}

.my-works-button-right {
  margin: 0;
  background-image: url(/svg/right-arrow-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  margin-left: 30px;
}

.my_works_quote {
  display: none;
}

.teeth_container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "teeth_1 teeth_2 teeth_3 teeth_4"
    "teeth_5 teeth_6 teeth_7 teeth_8";
}

.teeth_1 {
  grid-area: teeth_1;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.teeth_2 {
  grid-area: teeth_2;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.teeth_3 {
  grid-area: teeth_3;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.teeth_4 {
  grid-area: teeth_4;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.teeth_5 {
  grid-area: teeth_5;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.teeth_6 {
  grid-area: teeth_6;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.teeth_7 {
  grid-area: teeth_7;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.teeth_8 {
  grid-area: teeth_8;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.certificates-container {
  display: grid;
  gap: 40px;
  grid-template-areas:
    "certificates-caption certificate_2"
    "certificate_1 certificate_2";

  margin-bottom: 30px;
}

.certificates-caption {
  grid-area: certificates-caption;
  background-image: url(/svg/parchment.svg);
  background-position: left;

  width: 460px;
}

.certificate_1 {
  grid-area: certificate_1;
  filter: drop-shadow(0px 10px 15px rgba(58, 37, 5, 0.5));
}

.certificate_2 {
  grid-area: certificate_2;
  filter: drop-shadow(0px 10px 15px rgba(58, 37, 5, 0.5));
}

.certificate_img {
  width: 100%;
  height: 100%;
}

.certificates-button-left {
  background-image: url(/svg/left-arrow-blue.svg);
  background-color: transparent;
}

.certificates-button-right {
  background-image: url(/svg/right-arrow-white.svg);
  background-color: #1a68c4;
}

.quote_certificates p {
  max-width: 943px;
  margin: auto;
}

.gradient-container {
  background: linear-gradient(180deg, rgba(255, 254, 254, 0) 0%, #d9d9d9 100%);
}

.entry {
  display: flex;
  justify-content: space-between;
  padding-top: 67px;
  padding-bottom: 68px;
  border-bottom: 1px solid #13436f;
}

.entry_caption {
  max-width: 750px;
  width: 750px;
  white-space: nowrap;
  background-position: left top;
}

.form_to_fill {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.4);

  padding-right: 20px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.select_button {
  border: none;
  background: transparent;
  padding-left: 45px;
}

.form_button {
  margin-top: 60px;
  max-width: 210px;
  height: 50px;
  margin-left: 30px;
}

.entry_image_container {
  padding-right: 50px;
  filter: drop-shadow(7px 7px 10px rgba(58, 37, 5, 0.5));
}

.education {
  margin-right: 30px;
  margin-left: 30px;
}

.education_caption {
  background-image: url(/svg/bonnet.svg);
  margin-top: 35px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 44px;
}

.students_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  grid-auto-columns: minmax(auto, auto);
  gap: 30px;
}

.student_container {
  display: flex;

  background: #ffffff;
  box-shadow: 0px 10px 15px rgba(58, 37, 5, 0.5);

  max-width: 520px;

  position: relative;
}

.student_information {
  padding: 40px 10px 35px 20px;
  position: relative;
  margin-bottom: 50px;
}

.student_name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #13436f;

  padding-bottom: 25px;
}

.student_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.05em;

  color: #000000;
}

.student-button {
  border: 1px solid #1a68c4;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.7));
  border-radius: 30px;
  background: #ffffff;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #1a68c4;

  max-width: 204px;
  height: 50px;
  padding: 10px;

  position: absolute;
  bottom: 20px;
  left: 20px;
}

.student_img {
  width: 50%;
  float: right;
  margin: 7px 0 7px 7px;
}

.button_container_student {
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 30px;
}

.student_button_left {
  background-image: url(/svg/left-arrow-blue.svg);
  background-color: transparent;
}

.student_button_right {
  background-image: url(/svg/right-arrow-blue.svg);
  background-color: transparent;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;

  align-items: center;
}

.foot_name_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-right: 30px;
}

.foot_name {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #242424;

  max-width: 170px;
  padding-bottom: 10px;
}

.foot_name_family {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 35px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #242424;

  max-width: 170px;
}

.profession {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.06em;

  color: #242424;

  width: 216px;
}

.map_container {
  padding-right: 40px;
}

.map_container img {
  width: 100%;
}

.foot_menu {
  padding-right: 40px;
}

.menu_list_foot {
  flex-direction: column;
  text-align: start;
  padding-right: 0;
}

.menu_link_foot {
  margin-bottom: 15px;
}

.ref_foot {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  letter-spacing: 0.06em;

  color: #242424;
}

.menu_link_foot:nth-last-child(n + 2) {
  margin: 0;
}

.ref_connection {
  max-width: 340px;
  white-space: normal;

  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;

  color: #242424;

  padding-bottom: 20px;
}

.ref_connection_messanger {
  margin-right: 15px;
}

.ref_connection:hover {
  padding-bottom: 20px;
  border: none;
  text-decoration: underline;
}

@media (min-width: 1024px) and (max-width: 1367px) {
  section {
    margin-left: 1.06%;
    margin-right: 1.06%;
  }

  .hat-main-information {
    margin-left: 1.06%;
    margin-right: 1.06%;
  }

  .menu-link-posthead:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .menu-phone {
    padding-right: 10px;
  }

  .menu {
    margin-left: 1.06%;
    margin-right: 1.06%;
  }

  .quote-container {
    background-position: center;
  }

  .about-me-caption {
    font-size: 40px;
  }

  .year {
    font-size: 18px;
  }

  .year::before {
    width: 15px;
  }

  .description-for-me {
    font-size: 14px;
  }

  .description-bold::before {
    font-size: 14px;
  }

  .image-container-turn {
    width: 50%;
  }

  .turn-img {
    width: 100%;
  }

  .quote-reviews-text-container {
    margin: auto;
  }

  .reviews-img-container {
    padding-right: 10px;
  }

  .reviews-left {
    padding: 20px;
    background-position: bottom 10px right 15px;
  }

  .reviews-right {
    padding: 20px;
    background-position: bottom 10px right 15px;
  }

  .quote-container-reviews {
    background-image: none;
  }

  .quote-my-works {
    right: 1.47%;
  }

  .teeth_img {
    width: 100%;
    height: 100%;
  }

  .certificates-container {
    gap: 10px;
  }

  .entry_caption {
    width: 500px;
    line-height: 40px;
    white-space: normal;
  }

  .student_name {
    font-size: 16px;
  }

  .students_container {
    gap: 10px;
  }

  .student_img {
    width: 50%;
    float: right;
    margin: 7px 0 7px 7px;
  }

  .foot_name_container {
    padding-right: 10px;
  }

  .map_container {
    padding-right: 10px;
  }

  .foot_menu {
    padding-right: 20px;
  }

  .foot {
    padding: 40px 5px;
  }
}

@media (max-width: 1023px) {
  section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .hat {
    margin-bottom: 15px;
  }

  .hat-main-information {
    background-color: #222222;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .hamburger-menu {
    display: block;
    width: 30px;
    position: relative;
  }

  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: absolute;
    top: 50%;
    left: 10px;
    width: 26px;
    cursor: pointer;
    z-index: 5;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #b8bcbf;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 4;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }

  .title {
    display: none;
  }

  .phone-email {
    display: none;
  }

  .title-name {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.02em;

    color: #ffffff;
  }

  .profession_title {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #ffffff;
  }

  .button-services {
    display: none;
  }

  .button-services-mobile {
    justify-content: center;
    height: 20px;
    padding: 10px;
    white-space: nowrap;
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #222222;

    margin-right: 10px;
  }

  .menu {
    display: none;
  }

  .hat-description {
    margin: 0;
    background-image: url(/images/Rectangle\ 145.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: rgba(0, 0, 0, 0.5);

    padding-top: 0;

    height: 176px;
  }

  .hat-description::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .description {
    position: relative;
    width: 100%;
  }

  .image-container-head {
    display: none;
  }

  .title-name-description {
    display: none;
  }

  .quote {
    font-size: 6px;
    line-height: 8px;

    letter-spacing: 0.02em;

    color: #ffffff;

    max-width: 33%;
    padding-right: 10px;

    margin-left: auto;

    position: relative;
    z-index: 3;
  }

  .services-list {
    font-size: 10px;
    line-height: 10px;

    letter-spacing: 0.06em;
    text-align: center;

    color: #ffffff;
    width: 100%;

    position: absolute;
    bottom: 0;

    margin-top: auto;
    margin-bottom: 15px;

    z-index: 3;
  }

  .services-list li img {
    display: none;
  }

  .button-enroll {
    display: none;
  }

  .guarantees-head {
    font-size: 16px;
    line-height: 18px;
    background-image: none;
    white-space: nowrap;

    padding-bottom: 10px;
  }

  .guarantees-content {
    flex-direction: column;
  }

  .img-number {
    display: none;
  }

  .guarantee {
    padding-bottom: 15px;
  }

  .description-head {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 5px;
  }

  .description-text {
    font-size: 10px;
    line-height: 14px;

    letter-spacing: 0.02em;

    max-width: none;
  }

  .quote-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin-bottom: 20px;
  }

  .quote-text {
    font-size: 8px;
    line-height: 10px;
    padding: 20px 10px;
  }

  .quote-text::before {
    font-size: 14px;
  }

  .quote-text::after {
    font-size: 14px;
  }

  .about-me {
    margin: 0;
  }

  .about-me-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
  }

  .about-me-image-container {
    position: static;
    width: 76.25%;
    margin: 25px auto 10px;
  }

  .about-me-img {
    width: 100%;
  }

  .about-me-content {
    padding: 0 30px;
  }

  .about-me-caption {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 20px;
  }

  .year-description {
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 15px;
  }

  .year {
    font-size: 12px;
    line-height: 10px;
  }

  .year::before {
    display: none;
  }

  .description-for-me {
    font-size: 10px;
    line-height: 12px;
  }

  .description-bold::before {
    font-size: 10px;
    line-height: 12px;
  }

  .quote-about-me {
    padding: 0 6.25%;
  }

  .quote-about-me p {
    font-size: 8px;
    line-height: 10px;
    padding-top: 10px;
  }

  .quote-about-me h3 {
    font-size: 6px;
    line-height: 6px;
    padding-bottom: 10px;
  }

  .range-of-services {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .range-of-services-caption {
    padding-top: 10px;
    background-image: none;

    font-size: 16px;
    line-height: 16px;

    margin-bottom: 30px;
  }

  .turn {
    flex-direction: column;
  }

  .turn:nth-last-child(n + 2) {
    margin-bottom: 15px;
  }

  .image-container-turn {
    order: 1;
    padding: 0;
  }

  .turn-img {
    width: 100%;
  }

  .turn-content {
    order: 2;
    padding: 20px 0 0 0;
    margin: 0;
  }

  .turn-caption {
    height: auto;
    padding: 0;

    font-size: 14px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  .turn-description {
    font-size: 10px;
    line-height: 14px;
    text-indent: 0;

    letter-spacing: 0.02em;
  }

  .turn-content ul {
    font-size: 10px;
    line-height: 14px;
    text-indent: 0;

    letter-spacing: 0.02em;

    padding-left: 15px;
  }

  .img-number-turn {
    display: none;
  }

  .turn-img-last {
    display: none;
  }

  .quote-turn {
    background-image: url(/images/Rectangle\ 178.png);
    background-position: center center;
    background-size: cover;
    min-height: 152px;
    max-height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
    margin-right: auto;
  }

  .quote-turn p {
    font-size: 8px;
    line-height: 10px;

    text-align: center;
    letter-spacing: 0.02em;
  }

  .quote-turn h3 {
    font-size: 6px;
    line-height: 6px;
  }

  .reviews {
    padding-bottom: 15px;
  }

  .reviews-caption {
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .reviews-grid-container {
    grid-template-columns: 100%;
    /* grid-template-areas: "reviews-right"; */
  }

  .reviews-container {
    margin-bottom: 10px;
  }

  .reviews-left {
    padding: 10px;
    width: 100%;
    background-size: 10px 10px;
    background-position: bottom 5px right 5px;
    /* display: none; */
  }

  .reviews-right {
    padding: 10px;
    width: 100%;
    background-size: 10px 10px;
    background-position: bottom 5px right 5px;
    display: none;
  }

  .reviews-img-container {
    display: none;
  }

  .reviews-name {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 12px;

    padding-bottom: 10px;
  }

  .reviews-text {
    font-size: 8px;
    line-height: 10px;

    letter-spacing: 0.02em;
  }

  .reviews-name-head-img {
    display: block;
    width: 40px;
    height: 40px;
  }

  .reviews-name-right {
    display: flex;
  }

  .button-container {
    display: none;
  }

  .button-container-mobile {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  .mobile_button {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background: rgba(1, 72, 137, 0.5);
  }

  .mobile_button_first {
    background-color: #014889;
  }

  .mobile_button:nth-last-child(n + 2) {
    margin-right: 15px;
  }

  .button-reviews {
    display: flex;
    max-width: 105px;
    max-height: 20px;

    font-size: 8px;
    line-height: 24px;

    padding: 10px;
  }

  .quote-container-reviews {
    background-image: none;
    margin-bottom: 10px;
  }

  .quote-reviews-text-container {
    padding-bottom: 10px;
  }

  .quote-reviews-text {
    font-size: 8px;
    line-height: 10px;

    padding-top: 10px;
  }

  .author-reviews {
    font-size: 6px;
    line-height: 6px;
  }

  .my-works {
    margin-bottom: 10px;
  }

  .my-works-caption {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .quote-my-works {
    display: none;
  }

  .comparison {
    display: none;
  }

  .teeth_container {
    grid-auto-rows: minmax(auto, auto);
    grid-auto-columns: minmax(auto, auto);
    grid-template-areas:
      " teeth_2 teeth_3 "
      " teeth_6 teeth_7 ";
    margin-bottom: 10px;
  }

  .teeth {
    max-width: 100px;
  }

  .teeth_img {
    max-width: 100%;
  }

  .teeth_1,
  .teeth_4,
  .teeth_5,
  .teeth_8 {
    display: none;
  }

  .my_works_quote {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #13436f;
    border-bottom: 1px solid #13436f;
    margin-bottom: 10px;
  }
  .my_works_quote_text {
    font-style: italic;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    text-align: center;
    letter-spacing: 0.07em;
  }

  .my_works_quote_author {
    font-style: italic;
    font-weight: 400;
    font-size: 6px;
    line-height: 6px;

    text-align: end;
    letter-spacing: 0.07em;
    padding-right: 10px;
  }

  .certificates {
    margin: 0;

    background-image: url(/svg/parchment.svg);
    background-repeat: no-repeat;
    background-size: 80px 70px;
    background-position: left 25px top 0;

    padding-bottom: 0;
  }

  .certificates-container {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "certificates-caption certificate_2"
      "certificate_1 certificate_2"
      "button-container-mobile certificate_2";

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #d2e1f3 100%
    );

    margin-bottom: 0;
  }

  .certificates-caption {
    margin-bottom: 0;
    width: auto;
  }

  .certificate_1 {
    filter: drop-shadow(0px 2px 3px rgba(58, 37, 5, 0.5));
  }

  .certificate_2 {
    filter: drop-shadow(0px 2px 3px rgba(58, 37, 5, 0.5));
  }

  .certificate_img_one {
    opacity: 0.8;
  }

  .quote_certificates {
    margin: 0;
    background: linear-gradient(
      180deg,
      rgba(26, 104, 196, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .entry {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .entry_image_container {
    display: none;
  }

  .form_to_fill {
    padding: 0;

    font-size: 10px;
    line-height: 8px;

    color: rgba(0, 0, 0, 0.4);

    margin: auto;
  }

  .entry_caption {
    width: auto;
  }

  .select_button {
    display: none;
  }

  input {
    margin-bottom: 15px;

    font-size: 8px;
    line-height: 8px;
  }

  .form_button {
    display: flex;
    margin: 15px auto;
    padding: 0;
    width: 100px;
    height: 20px;

    font-size: 8px;
    line-height: 24px;
  }

  .education {
    margin: 0 15px;
  }

  .education_caption {
    margin: 0;
    padding-bottom: 10px;
  }

  .students_container {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .student_information {
    padding: 5px;
    margin-bottom: 30px;
  }

  .student_name {
    font-size: 8px;
    line-height: 6px;
    padding-bottom: 10px;
  }

  .student_text {
    font-size: 6px;
    line-height: 6px;
  }

  .student_container_three {
    display: none;
  }

  .student-button {
    height: 13px;

    font-size: 4px;
    line-height: 4px;

    bottom: 5px;
    left: 5px;
  }

  .foot {
    background: linear-gradient(180deg, #d8d8d8 0%, #ffffff 65.1%);
    flex-direction: column;
    padding: 40px 20px;
  }

  .foot_name_container {
    padding-bottom: 10px;
    padding-right: 0;
  }

  .map_container {
    display: none;
  }

  .foot_menu {
    padding-right: 0;
  }

  .menu_list_foot {
    text-align: center;
  }

  .ref_connection {
    justify-content: center;
  }
}

@media (min-width: 360px) and (max-width: 559px) {
  .student_text {
    font-size: 8px;
    line-height: 11px;
  }

  input {
    font-size: 11px;
  }

  .quote-about-me p {
    font-size: 10px;
    line-height: 14px;
  }

  .quote-about-me h3 {
    font-size: 10px;
    line-height: 14px;
  }

  .my_works_quote_text,
  .my_works_quote_author,
  .quote-reviews-text,
  .author-reviews,
  .reviews-text,
  .quote-turn p,
  .quote-turn h3,
  .quote-text,
  .quote,
  .student_name {
    font-size: 10px;
    line-height: 14px;
  }

  .button-services-mobile,
  .student-button {
    font-size: 8px;
  }
}

@media (min-width: 560px) and (max-width: 1023px) {
  .student_text {
    font-size: 14px;
    line-height: 11px;
  }

  input {
    font-size: 14px;
  }

  .quote-about-me p {
    font-size: 14px;
    line-height: 14px;
  }

  .quote-about-me h3 {
    font-size: 14px;
    line-height: 14px;
  }

  .my_works_quote_text,
  .my_works_quote_author,
  .quote-reviews-text,
  .author-reviews,
  .reviews-text,
  .quote-turn p,
  .quote-turn h3,
  .quote-text,
  .quote,
  .student_name {
    font-size: 14px;
    line-height: 14px;
  }

  .button-services-mobile,
  .student-button {
    font-size: 12px;
  }

  .services-list {
    font-size: 14px;
  }

  .description-head,
  .turn-caption,
  .student_name {
    font-size: 16px;
  }

  .range-of-services-caption {
    font-size: 18px;
  }

  .description-text,
  .description-for-me,
  .description-bold::before,
  .year,
  .turn-description,
  .turn-content ul,
  .student_text {
    font-size: 14px;
    line-height: 20px;
    max-width: none;
  }
}
